version: '3.8'
services:
{{#services}}
  {{name}}:
    {{#image}}
    image: {{image}}
    {{/image}}
    {{#build}}
    build: {{build}}
    {{/build}}
    {{#env.length}}
    environment:
    {{#env}}
      {{key}}: {{value}}
    {{/env}}
    {{/env.length}}
    {{#network}}
    networks:
      - {{network}}
    {{/network}}
    {{#port}}
    ports:
      - "{{port}}:{{port}}"
    {{/port}}
    {{#run}}
    command: "{{run}}"
    {{/run}}
    {{#depends_on.length}}
    depends_on:
    {{#depends_on}}
      - {{.}}
    {{/depends_on}}
    {{/depends_on.length}}
    {{#restart}}
    restart: {{restart}}
    {{/restart}}
{{/services}}
networks:
  asl:
    driver: "bridge"
